/web/bundles/
/web/uploads/
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters.ini
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/*
/composer.phar
/app/phpunit.xml
/phpunit.xml

######################
# Windows
######################
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
######################
# OSX
######################
.DS_Store
.svn
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes