<li>
	<a href="<%= filiere_path(filiere) %>">
		<div class="admin-index-object-content display-inline-block">
			<%= filiere.nom %>
		</div>
	</a>
	<div class="display-inline-block float-right">
		<%= link_to edit_filiere_path(filiere), title: "Edit #{filiere.nom}", rel: "nofollow", data: {method: "get"} do %>
			<div class="admin-icon">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
			</div>
		<% end %>
		<%= link_to filiere_path(filiere), title: "Delete #{filiere.nom}", rel: "nofollow", data: {confirm: "Si vous supprimez cette filière, tous les semestres/blocs/matieres et documents associés seront également supprimés.\nEtes vous sûre de vouloir supprimer la filière #{filiere.nom} ?", method: "delete"} do %>
			<div class="admin-icon">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
			</div>
		<% end %>
	</div>	
</li>