<% provide(:title, @filiere.nom) %>

<div class="container">
	<div class="admin-index-container">
		<h1><%= @filiere.nom %></h1>

		<div>
			<%= link_to 'Manager les semestres', filiere_semestres_path(@filiere), class: "btn btn-primary btn-lg " %>

			<%= link_to "Retour", filieres_path, class: "btn btn-default btn-lg  float-right" %>
		</div>
	</div>
</div>