<% provide(:title, 'MyDocs') %>

<div class="columns">
	<%= render "menu" %>

	<div id="documents" class="display-inline-block">
		<ul class="documents">
			<%= render @documents %>
		</ul>		
	</div>
</div>