<div class="page-header">
  <h1>ShareMyDocs</h1>
</div>

<div class="section">
  <p>ShareMyDocs is a unique application made by students of Telecom Saint-Etienne, for students of Telecom Saint-Etienne.</p>
  <p>Here you can upload and download any documents you need during your entire studies at Telecom Saint-Etienne.
  From personal notes on a course to exams and the corrections. All you have to do is upload your own documents for the next generation of students,
  because this application needs YOU to upload relevant documents.</p>
</div>

<div>CITISE1
</div>
<div>CITISE2
</div>
<div>FI1
</div>
<div>FI2
</div>
<div>FI3
</div>
<div>FA1
</div>
<div>FA2
</div>
<div>FA3
</div>
