<% provide(:title, 'Edit Document') %>

<div class="left-right-margin-16-percent">
	<div class="jumbotron">

		<h2 class="upload-form-heading">Edit<span id='upload-form-title'> Document</span></h2>

		<form>
			<div class="form-group">
				<label for="filieres_select">Filiere</label>
				<select class="form-control" id="filieres_select">
					<% @filieres.each do |filiere| %>
						<option value="<%= filiere.id %>" <%= 'selected' if filiere == @document.matiere.bloc.semestre.filiere %>><%= filiere.nom %></option>
					<% end %>
				</select>
			</div>
		</form>
		
		<%= render 'edit_document_form' %>
	</div>
</div>