<% provide(:title, 'Documents') %>

<div class="jumbotron">
	<div class="search-box">
		<input type="text" id="search-input"/>
	</div>
	<div class="search-filters">
		<select>
			<option>FILIERE FILTER</option>
		</select>
		<select>
			<option>Semestre FILTER</option>
		</select>
		<select>
			<option>Bloc FILTER</option>
		</select>
		<select>
			<option>Matiere FILTER</option>
		</select>
		<select>
			<option>TYPE!!!!! FILTER</option>
		</select>
	</div>
</div>

<%= render 'documents' %>