<% provide(:title, 'Upload') %>

<div class="left-right-margin-16-percent">
	<div class="jumbotron">

		<h2 class="upload-form-heading">Upload a Document</h2>

		<form>
			<div class="form-group">
				<label for="filieres_select">Filiere</label>
				<%= collection_select(nil, :filiere_id, @filieres, :id, :nom, {}, {:id => 'filieres_select', :class => 'form-control'}) %>
			</div>
		</form>
		
		<%= render 'upload_document_form' %>
	</div>
</div>