<% provide(:title, 'Upload') %>

<div class="left-right-margin-16-percent">
	<div class="jumbotron">

		<h2 class="upload-form-heading">Upload<span id='upload-form-title'> a Document</span></h2>

		<form>
			<div class="form-group">
				<label for="filieres_select">Filiere</label>
				<select class="form-control" id="filieres_select">
					<% @filieres.each do |filiere| %>
						<option value="<%= filiere.id %>"><%= filiere.nom %></option>
					<% end %>
				</select>
			</div>
		</form>
		
		<%= render 'upload_document_form' %>
	</div>
</div>