{% trans_default_domain 'ShareMyDocsPlatformBundle' %}

{% extends "ShareMyDocsPlatformBundle:Layout:layout.html.twig" %}

{% block title %}{{ parent() }} | HOME PAGE!!!!!!!!!!!! {% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}
<div class="page-header">
	HOME PAGE!!!!!!!!!!!!!!!!!!!!
</div>

{% endblock %}