@import "bootstrap-sprockets";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* Footer Custom CSS
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  padding-top: 10px;

  border-top: solid 1px #eee;
}

.footer a{
  color: inherit;
  text-decoration: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.text {
  margin-left: 30%;
  padding-bottom: 10px;
}

.col-md-4::before, .text {
  /* these are the important styles for the centered element: */
  display: inline-block;
  vertical-align: middle;
}

#address {
  margin: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Form Signin CSS
-------------------------------------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Home Page CSS
-------------------------------------------------- */

.arrow-box { 
  position: relative; 
  background: #88b7d5; 
  border: 4px solid #c2e1f5;
  width: 20%;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  font-size: 27px;
} 

.arrow-box:after, .arrow-box:before { 
  left: 100%; top: 50%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
} 

.arrow-box:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-left-color: #88b7d5; 
  border-width: 36px; 
  margin-top: -36px; 
} 

.arrow-box:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-left-color: #c2e1f5; 
  border-width: 42px; 
  margin-top: -42px; 
}

.display-inline-block {
  display: inline-block;
}

.text-align-right {
  text-align: right;
}

.z-index-2 {
  z-index: 2;
}

.z-index-1 {
  z-index: 1;
}

.z-index-0 {
  z-index: 0;
}

.left-10px {
  left: -10px;
}

.left-20px {
  left: -20px;
}

.arrow-box a {
  text-decoration: none;
  color: #4D4D4D;
}

.arrow-box a:hover {
  color: black;
}