@import "bootstrap-sprockets";
@import "bootstrap";

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

/* Footer Custom CSS
-------------------------------------------------- */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;

  padding-top: 10px;

  border-top: solid 1px #eee;
}

.footer a{
  color: inherit;
  text-decoration: none;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.text {
  margin-left: 30%;
  padding-bottom: 10px;
}

.col-md-4::before, .text {
  /* these are the important styles for the centered element: */
  display: inline-block;
  vertical-align: middle;
}

#address {
  margin: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Form Signin CSS
-------------------------------------------------- */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Home Page CSS
-------------------------------------------------- */

.arrow-box { 
  position: relative; 
  background: #88b7d5; 
  border: 4px solid #c2e1f5;
  width: 20%;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 72px;
  font-size: 27px;
} 

.arrow-box:after, .arrow-box:before { 
  left: 100%; top: 50%; 
  border: solid transparent; 
  content: " "; 
  height: 0; 
  width: 0; 
  position: absolute; 
  pointer-events: none; 
} 

.arrow-box:after { 
  border-color: rgba(136, 183, 213, 0); 
  border-left-color: #88b7d5; 
  border-width: 36px; 
  margin-top: -36px; 
} 

.arrow-box:before { 
  border-color: rgba(194, 225, 245, 0); 
  border-left-color: #c2e1f5; 
  border-width: 42px; 
  margin-top: -42px; 
}

.display-inline-block {
  display: inline-block;
}

.text-align-right {
  text-align: right;
}

.z-index-2 {
  z-index: 2;
}

.z-index-1 {
  z-index: 1;
}

.z-index-0 {
  z-index: 0;
}

.left-10px {
  left: -10px;
}

.left-20px {
  left: -20px;
}

.arrow-box a {
  text-decoration: none;
  color: #4D4D4D;
}

.arrow-box a:hover {
  color: black;
}

/* User Profile Page CSS
-------------------------------------------------- */

.one-fourth {
  width: 25%;
}

.three-fourths {
  width: 75%;
}

.column {
  float: left;
  padding-right: 10px;
  padding-left: 10px;
}

.columns:after {
  display: table;
  clear: both;
  content: "";
}

.columns:before {
  display: table;
  content: "";
}

.columns {
  margin-right: -10px;
  margin-left:  -10px;
}

.menu {
  margin-bottom: 15px;
  list-style: outside none none;
  background-color: #FFF;
  border: 1px solid #D8D8D8;
  border-radius: 3px;
  min-width: 75px;
}

.menu-heading:first-child {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

.menu-heading {
  display: block;
  padding: 8px 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: #555;
  background-color: #F7F7F7;
  border-bottom: 1px solid #EEE;
}

.menu-item.selected:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 2px;
  content: "";
  background-color: #D26911;
}

.menu-item.selected {
  font-weight: bold;
  color: #222;
  cursor: default;
  background-color: #FFF;
}

.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  text-shadow: 0px 1px 0px #FFF;
  border-bottom: 1px solid #EEE;
}

.menu a {
  text-decoration: none;
}

.boxed-group {
  position: relative;
  border-radius: 3px;
  margin-bottom: 30px;
}

.boxed-group > h3 {
  background-color: #F5F5F5;
  margin: 0px;
  border-radius: 3px 3px 0px 0px;
  border-width: 1px 1px 0px;
  border-style: solid solid none;
  border-color: #D8D8D8 #D8D8D8 -moz-use-text-color;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  padding: 9px 10px 10px;
  font-size: 14px;
  line-height: 17px;
  display: block;
  font-weight: bold;
}

.boxed-group-inner {
  padding: 10px 10px;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #D8D8D8;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  color: #666;
}

.clearfix:after {
  display: table;
  clear: both;
  content: "";
}

.clearfix:before {
  display: table;
  content: "";
}

.two-thirds {
  width: 67%;
}

.column td {
  width: 20%;
  height: 40px;
  font-size: 13px;
}

dl.user-edit-form {
  margin: 15px 0px;
}

dl.user-edit-form > dt {
  margin: 0px 0px 6px;
}

dl.user-edit-form > dt label {
  position: relative;
}

label {
  font-size: 13px;
  font-weight: bold;
}

dd {
  margin-left: 0px;
}

.title {
  font-size: 13px;
  font-weight: bold;
}

/* Upload Document Custom CSS
-------------------------------------------------- */

.left-right-margin-16-percent {
  margin-left: 16%;
  margin-right: 16%;
}

.upload-form-heading {
  font-size: 55px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
  margin-top: 0;
}

textarea {
  resize: none;
  min-height: 120px;
}

.btn-file {
  position: relative;
  overflow: hidden;
  float: right;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

#upload-file-label {
  background-color: #FFF;
  height: 44px;
  border: solid 1px #CCC;
  width: 80%;
  border-radius: 4px;
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 9px;
  padding-top: 9px;
  overflow: auto;
  text-align: right;
}

@media (max-width: 1200px) {
  #upload-file-label {
    width: 75%;
  }
}

@media (max-width: 1000px) {
  #upload-file-label {
    width: 70%;
  }
}

@media (max-width: 991px) {
  #upload-file-label {
    width: 65%;
  }
}

@media (max-width: 640px) {
  #upload-file-label {
    width: 100%;
  }
}

/* Document Index Custom CSS
-------------------------------------------------- */

#documents {
  margin-bottom: 10px;
}

.documents {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.document:not(:first-child) {
  border-top: solid 1px #CCC;
}

.document {
  padding: 10px;
}

.document h2{
  margin: 0;
}

.document h2 a {
  text-decoration: none;
  font-size: 22px;
}

.document h2 small {
  font-size: 10px;
}

.document .description {
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-box {
  float: left;
  width: 45%;
}

.search-filters {
  display: inline-block;
  width: 50%;
}