<footer class="footer">
	<div class="container credit">
		<div class="row">
  			<div class="col-md-4">
          <div class="text">ShareMyDocs</div>
        </div>
  			<div class="col-md-4">
          <div class="text">
  				  <address id="address">
  					 25 rue Rémy Annino </br>
  					 42000 Saint-Etienne
  				  </address>
          </div>
  			</div>
  			<div class="col-md-4">
          <div class="text">
  				  <a href="mailto:info@rmopportunities.com">info@rmopportunities.com</a> </br>
  				  <a href="tel:+330410101010">+33 (0) 4 10 10 10 10</a>
          </div>
  			</div>
		</div>
	</div>
</footer>